<div class="row border bg-wpt-blue p-4 text-center">
    <div class="col-sm-12 header text-white">
        <h2 class="text-uppercase">Grupo A</h2>
    </div>

    <div class="row text-uppercase col-sm-12 border-white">
        <div class="col-sm-6 text-white">
            <h5>Partido 1</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>Set 1</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>Set 2</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>Set 3</h5>
        </div>
    </div>

    <div class="row text-uppercase col-sm-12 border-white bt-none">
        <div class="col-sm-6 text-white">
            <h5>Jugador 1 <br> Jugador 2</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>6</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>4</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>6</h5>
        </div>
    </div>
    <div class="row text-uppercase col-sm-12 border-white bt-none">
        <div class="col-sm-6 text-white">
            <h5>Jugador 3 <br> Jugador 4</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>4</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>6</h5>
        </div>
        <div class="col-sm-2 text-white">
            <h5>4</h5>
        </div>
    </div>


    <div class="col-sm-12 text-white mt-4 ">
        <h5>Fecha: 12/12/2019 Hora: 12:30</h5>
    </div>
</div>